# Checks for run_robustness

In [2]:
import pandas as pd

%load_ext nb_black

The nb_black extension is already loaded. To reload it, use:
  %reload_ext nb_black

In [2]:
dfs_ambiguity = {"0": 0, "1": 1, "2": 2}

In [3]:
for num in range(0, 3):
    dfs_ambiguity[str(num)] = pd.read_pickle(f"../data/dfs_ambiguity_{num}.pkl")

In [4]:
print("Experience education, no ambiguity:", dfs_ambiguity["0"].Experience_Edu.mean())

Experience education, no ambiguity: 12.1082

In [5]:
print("Experience education, low ambiguity:", dfs_ambiguity["1"].Experience_Edu.mean())

Experience education, low ambiguity: 14.30645

In [6]:
print("Experience education, high ambiguity:", dfs_ambiguity["2"].Experience_Edu.mean())

Experience education, high ambiguity: 15.62125

In [7]:
dfs_ambiguity["1"]

                   Experience_A  Experience_B  Experience_Edu Lagged_Choice_1  \
Identifier Period
0          0                  0             0              10             edu
           1                  1             0              10               a
           2                  2             0              10               a
           3                  3             0              10               a
           4                  4             0              10               a
...                         ...           ...             ...             ...
999        35                12            15              18               b
           36                12            16              18               b
           37                12            17              18               b
           38                12            18              18               b
           39                12            19              18               b

                   Shock_Reward_A  Meas_Error_Wage_A  Shock_Reward_B  \
Identifier Period
0          0             1.332249                  1        1.674061
           1             0.960020                  1        0.827097
           2             1.514514                  1        0.896927
           3             2.020384                  1        1.142276
           4             0.541882                  1        0.734295
...                           ...                ...             ...
999        35            1.823103                  1        1.421867
           36            0.962247                  1        0.769740
           37            1.089793                  1        1.104724
           38            2.123115                  1        2.245630
           39            1.117310                  1        0.594123

                   Meas_Error_Wage_B  Shock_Reward_Edu  Meas_Error_Wage_Edu  \
Identifier Period
0          0                       1     -11500.381822                    1
           1                       1      -6483.366822                    1
           2                       1       4204.156130                    1
           3                       1      -5064.630041                    1
           4                       1      12172.533669                    1
...                              ...               ...                  ...
999        35                      1      -1411.291319                    1
           36                      1      -3104.358354                    1
           37                      1      -6353.787211                    1
           38                      1      -4799.636956                    1
           39                      1      -5429.868149                    1

                   ...  Nonpecuniary_Reward_Edu  Wage_Edu Flow_Utility_Edu  \
Identifier Period  ...
0          0       ...                     5000       NaN     -6500.381822
           1       ...                   -10000       NaN    -16483.366822
           2       ...                   -10000       NaN     -5795.843870
           3       ...                   -10000       NaN    -15064.630041
           4       ...                   -10000       NaN      2172.533669
...                ...                      ...       ...              ...
999        35      ...                   -15000       NaN    -16411.291319
           36      ...                   -15000       NaN    -18104.358354
           37      ...                   -15000       NaN    -21353.787211
           38      ...                   -15000       NaN    -19799.636956
           39      ...                   -15000       NaN    -20429.868149

                   Value_Function_Edu  Continuation_Value_Edu  \
Identifier Period
0          0            414855.028821           443532.011203
           1            406075.750218           444799.070568
           2            417895.625252           445991.020128
           3            409486.365553           446895.784836
           4            427578.928395           447796.204975
...                               ...                     ...
999        35           191599.951518           218959.202986
           36           143940.317038           170573.342518
           37            91902.199749           119216.828379
           38            39129.278265            62030.437075
           39           -20429.868149                0.000000

                   Nonpecuniary_Reward_Home  Wage_Home  Flow_Utility_Home  \
Identifier Period
0          0                          14500        NaN       20857.512173
           1                          14500        NaN        7478.941803
           2                          14500        NaN       27953.384867
           3                          14500        NaN       22307.059569
           4                          14500        NaN       12901.727740
...                                     ...        ...                ...
999        35                         14500        NaN       13382.577581
           36                         14500        NaN       18222.259727
           37                         14500        NaN       16211.128595
           38                         14500        NaN       15336.011893
           39                         14500        NaN       15331.044792

                   Value_Function_Home  Continuation_Value_Home
Identifier Period
0          0             416611.446222            416583.088473
           1             406162.583220            419666.990965
           2             429184.099649            422348.120823
           3             424966.654024            423852.204690
           4             417050.185081            425419.428780
...                                ...                      ...
999        35            206720.273736            203513.364374
           36            168851.339766            158556.926357
           37            121438.878753            110766.052799
           38             70034.805205             57577.677170
           39             15331.044792                 0.000000

[40000 rows x 36 columns]

In [8]:
df_yoe_effect_ambiguity = pd.read_pickle("../data/df_yoe_effect_ambiguity.pkl")
df_yoe_effect_ambiguity.rename(columns={0: "School", 1: "White", 2: "Blue", 3: "Home"})

        School   White    Blue   Home
absent  12.438  10.998  23.122  3.442
low     15.174  16.791  15.831  2.204
high    16.819  19.643  11.901  1.637

In [9]:
df_eu_loss = pd.read_pickle("../data/df_EU.pkl")
df_eu_loss.rename(columns={"EU": "Expected Utility", "EU_Loss": "Loss due Ambiguity"})

        Expected Utility  Loss due Ambiguity
absent     403743.470682            0.000000
low        427585.097276            0.059051
high       439107.718292            0.087591